<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <ion-card>
    <ion-list>
      <ion-list-header>Favourite books</ion-list-header>
      <ion-item *ngFor="let fav of favs">{{fav.title}}</ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-list-header>Liked books</ion-list-header>
      <ion-item *ngFor="let likedBook of liked">{{likedBook.title}}</ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-list-header>
        <ion-title>
          Your Lists
          <ion-icon name="add-circle" class="right" (click)="openBooklistAlert()"></ion-icon>
        </ion-title>
      </ion-list-header>
      <ion-item-sliding *ngFor="let booklist of user.bookLists">
        <ion-item (click) = "openBooklist(user, booklist)">
          {{booklist.title}}
          <ion-badge item-end="" class="mcustom1">
            {{booklist.bookIds.length}}
          </ion-badge>
        </ion-item>
        <ion-item-options>
          <button item-end ion-button color="danger" (click)="removeFromBooklist(booklist)">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Your bookmarks
    </ion-card-header>
    <ion-scroll class="h350" scrollY="true" *ngIf="bookmarks.length > 0">
      <ion-card *ngFor="let bookmark of bookmarks">
        {{bookmark.title}} left at page {{bookmark.page}} ({{bookmark.uid}})
      </ion-card>
    </ion-scroll>
    <form [formGroup] = "addBookmarkForm" (ngSubmit)="addBookmark()">
      <ion-row>
        <ion-col col-9>
          <ion-item>
            <ion-input type="text"
                       [(ngModel)]="newBookmark.title"
                       formControlName="title"
                       placeholder="Title...">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-input type="number"
                       [(ngModel)]="newBookmark.page"
                       formControlName="page"
                       placeholder="Page..."></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-input type="hidden"
                  [value]="user.uid"
                 formControlName="uid"></ion-input>
      <button ion-button
              [disabled]="!addBookmarkForm.valid"
              type="submit"
              id="addbookmark"><ion-icon name="add"></ion-icon></button>
    </form>
  </ion-card>
</ion-content>
